<% for(var i=0; i<jsondata.length;i++){ %>
<div class="pop-detail" id="detail<%=i%>">
	<div class="detail-left">
		<div class="leftDetail-h">
			<% for(var j=0; j<jsondata[i].specialChannel.length;j++){ %>
			<a href="javascript:void(0)">
				<%= jsondata[i].specialChannel[j]%>
			</a>
			<% } %>
		</div>
		<div class="leftDetail-b">
			<% for(var k=0; k<jsondata[i].content.length;k++){ %>
			<dl class="clearfix">
				<dt><a href="javascript:void(0)"><%= jsondata[i].content[k].title%></a></dt>
				<% for(var z=0; z<jsondata[i].content[k].message.length;z++){ %>
				<dd>
					<a href="javascript:void(0)">
						<%= jsondata[i].content[k].message[z]%>
					</a>
				</dd>
				<% } %>
			</dl>
			<% } %>

		</div>
	</div>
	<div class="detail-right">
		<div class="rigthDetail-t">
			<a href="javascript:void(0)"><img src="images/bannerList/list001.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/list002.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/list003.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/list004.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/list005.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/list006.jpg" /></a>
		</div>
		<div class="rigthDetail-b">
			<a href="javascript:void(0)"><img src="images/bannerList/largeList001.jpg" /></a>
			<a href="javascript:void(0)"><img src="images/bannerList/largeList002.jpg" /></a>
		</div>
	</div>
</div>
<% } %>