<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>京东商城Dev分支</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="CSS/reset.css"/>
		<link rel="stylesheet" type="text/css" href="CSS/index.css" />
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/template-web.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jssor.slider-26.8.0.min.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<script id="siteNavModel" type="text/html">
			<% for(var i=0; i<jsondata.length;i++){ %>
			<dl class="site<%=i+1%> clearfix">
				<dt><h5><%= jsondata[i].title %></h5></dt>
				<% for(var j=0; j<jsondata[i].content.length;j++){ %>
				<dd>
					<a href="javascript:void(0)">
						<%= jsondata[i].content[j]%>
					</a>
				</dd>
				<%} %>
			</dl>
			<% } %>
		</script>
		<script type="text/html" id="bannerChannel">
			<% for(var i=0; i<jsondata.length;i++){ %>
				<div class="pop-detail" id="detail<%=i%>" >
					<div class="detail-left">
						<div class="leftDetail-h">
							<% for(var j=0; j<jsondata[i].specialChannel.length;j++){ %>
								<a href="javascript:void(0)"><%= jsondata[i].specialChannel[j]%></a>
							<% } %>
						</div>
						<div class="leftDetail-b">
							<% for(var k=0; k<jsondata[i].content.length;k++){ %>
							<dl class="clearfix">
								<dt><a href="javascript:void(0)"><%= jsondata[i].content[k].title%></a></dt>
									<% for(var z=0; z<jsondata[i].content[k].message.length;z++){ %>
										<dd><a href="javascript:void(0)"><%= jsondata[i].content[k].message[z]%></a></dd>
									<% } %>
							</dl>
							<% } %>
							
						</div>
					</div>
					<div class="detail-right">
						<div class="rigthDetail-t">
							<a href="javascript:void(0)"><img src="images/bannerList/list001.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/list002.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/list003.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/list004.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/list005.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/list006.jpg" /></a>
						</div>
						<div class="rigthDetail-b">
							<a href="javascript:void(0)"><img src="images/bannerList/largeList001.jpg" /></a>
							<a href="javascript:void(0)"><img src="images/bannerList/largeList002.jpg" /></a>
						</div>
					</div>
				</div>
			<% } %>	
		</script>
		<!--头部广告-->
		<div class="headBanner">
			<div class="container">
				<i class="iconfont">&#xe6eb;</i>
				<a href="https://c-nfa.jd.com/adclick?keyStr=6PQwtwh0f06syGHwQVvRO7pzzm8GVdWoLPSzhvezmOUieGAQ0EB4PPcsnv4tPllwVgITo/Iy20I/gOXvFN6awsjiWPmadCdNeVIGzlyAz+C2GCg7IWWH8bdplToT+/QL4fLWlvRBkxoM4QrINBB7LeaoWzNVPZB8vD+wbh8i2zC1oaNvheebAFAmU6jqGBd7PcADfOydEgb3r/t/IOD6jebwKAFQoJNlTkPYqRWHa7QpodVXpEL15gIhF7tS9XGTIH/3PVpFk1yWjCKplUWsYiZkUIzjmhlPlHv4wTLvUHI6PS3e2iAxIftN/cIOoqdkLMz+Zwh2Sv2uEPtOqU+3QA==&cv=2.0&url=//sale.jd.com/act/akM4YzcnQq8.html"></a>
			</div>
		</div>
		<!--导航-->
		<div class="nav">
			<div class="container">
				<div class="location">
					<div class="location-Place dorpdown">
						<div class="dorpdown-icon list">
							<i class="iconfont">&#xe6ef;</i>
							<span>
								北京
							</span>
						</div>
						<ul class="clearfix dorpdown-layer">
						</ul>
					</div>

				</div>
				<ul class="nav-list clearfix">
					<li>
						<a href="javascript:void(0)">你好，请登录</a>&nbsp;&nbsp;
						<a class="registerA" href="javascript:void(0)">免费注册</a>
					</li>
					<li class="space"></li>
					<li>
						<a class="list" href="javascript:void(0)">我的订单</a>
					</li>
					<li class="space"></li>
					<li class="dorpdown">
						<div class="dorpdown-icon list">
							<a href="javascript:void(0)">我的京东<i class="iconfont">&#xe74a;</i></a>
						</div>
						<div class="dorpdown-layer">
							<div class="myJD clearfix">
								<ul>
									<li>
										<a href="javascript:void(0)">待处理订单</a>
									</li>
									<li>
										<a href="javascript:void(0)">消息</a>
									</li>
									<li>
										<a href="javascript:void(0)">返修退换货</a>
									</li>
									<li>
										<a href="javascript:void(0)">问答</a>
									</li>
									<li>
										<a href="javascript:void(0)">降价商品</a>
									</li>
									<li>
										<a href="javascript:void(0)">我的关注</a>
									</li>
								</ul>
							</div>
							<div class="myJD">
								<ul>
									<li>
										<a href="javascript:void(0)">我的京豆</a>
									</li>
									<li>
										<a href="javascript:void(0)">我的优惠券</a>
									</li>
									<li>
										<a href="javascript:void(0)">我的白条</a>
									</li>
									<li>
										<a href="javascript:void(0)">我的理财</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li class="space"></li>
					<li>
						<a class="list" href="javascript:void(0)">京东会员</a>
					</li>
					<li class="space"></li>
					<li>
						<a class="list" href="javascript:void(0)">企业采购</a>
					</li>
					<li class="space"></li>
					<li class="dorpdown">
						<div class="dorpdown-icon list">
							<a href="javascript:void(0)">客户服务<i class="iconfont">&#xe74a;</i></a>
						</div>
						<div class="dorpdown-layer">
							<div class="customService clearfix">
								<h6>客户</h6>
								<ul>
									<li>
										<a href="javascript:void(0)">帮助中心</a>
									</li>
									<li>
										<a href="javascript:void(0)">售后服务</a>
									</li>
									<li>
										<a href="javascript:void(0)">在线客服</a>
									</li>
									<li>
										<a href="javascript:void(0)">意见建议</a>
									</li>
									<li>
										<a href="javascript:void(0)">电话客服</a>
									</li>
									<li>
										<a href="javascript:void(0)">客服邮箱</a>
									</li>
									<li>
										<a href="javascript:void(0)">金融咨询</a>
									</li>
									<li>
										<a href="javascript:void(0)">售全球客服</a>
									</li>
								</ul>
							</div>
							<div class="customService">
								<h6>商户</h6>
								<ul>
									<li>
										<a href="javascript:void(0)">合作招商</a>
									</li>
									<li>
										<a href="javascript:void(0)">学习中心</a>
									</li>
									<li>
										<a href="javascript:void(0)">商家后台</a>
									</li>
									<li>
										<a href="javascript:void(0)">京麦工作台</a>
									</li>
									<li>
										<a href="javascript:void(0)">商家帮助</a>
									</li>
									<li>
										<a href="javascript:void(0)">规则平台</a>
									</li>
								</ul>
							</div>
						</div>

					</li>
					<li class="space"></li>
					<li class="dorpdown">
						<div class="dorpdown-icon list">
							<a href="javascript:void(0)">网站导航<i class="iconfont">&#xe74a;</i></a>
						</div>
						<div class="dorpdown-layer siteNav">
							<div class="container clearfix">

							</div>
						</div>
					</li>
					<li class="space"></li>
					<li>
						<a class="list" href="javascript:void(0)">手机京东</a>
						<div class="mobileJD">

						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--搜索区域-->
		<div class="container header clearfix">
			<img class="logo" src="images/JDlogo@2x.jpg" />
			<div class="search">
				<div class="searchArea clearfix">
					<input type="tel" placeholder="输入搜索内容" />
					<i class="iconfont">&#xe665;</i>
					<button><i class="iconfont">&#xe651;</i></button>
				</div>
			</div>
			<div class="hotdot">
				<a class="hotFocus" href="javascript:void(0)">爆品5折</a>
				<a href="javascript:void(0)">送5件套</a>
				<a href="javascript:void(0)">宠物服务</a>
				<a href="javascript:void(0)">服装城</a>
				<a href="javascript:void(0)">厨房电器</a>
				<a href="javascript:void(0)">广角镜头手机</a>
				<a href="javascript:void(0)">吹风机静音</a>
				<a href="javascript:void(0)">抢神券</a>
				<a href="javascript:void(0)">无损播放器</a>
			</div>
			<div class="navitems">
				<a href="javascript:void(0)">秒杀</a>
				<a href="javascript:void(0)">优惠券</a>
				<a href="javascript:void(0)">
					PLUS会员
					<img src="images/newIcon.png" />
				</a>
				<a href="javascript:void(0)">闪购</a>
				<a href="javascript:void(0)">拍卖</a>
				<a href="javascript:void(0)">京东服饰</a>
				<a href="javascript:void(0)">京东超市</a>
				<a href="javascript:void(0)">生鲜</a>
				<a href="javascript:void(0)">全球购</a>
				<a href="javascript:void(0)">京东金融</a>
			</div>
			<div id="myBuys" class="dorpdown">
				<div class="dorpdown-icon">
					<i class="iconfont">&#xe6af;</i>
					<a href="javascript:void(0)">我的购物车</a>
					<span class="buyNum">
						100
					</span>
				</div>
				<div class="dorpdown-layer">
					<i class="iconfont">&#xe66f;</i>
					<span>
						购物车中还没有商品，赶紧选购吧！
					</span>
				</div>
			</div>
		</div>
		<div id="banner">
			<div class="banner-left">
				<a href="javascript:void(0)">
					<img src="images/leftBanner.png" />
				</a>
				
				<a href="javascript:void(0)">
					<img src="images/banner-big.jpg" />
				</a>
			</div>

			<div class="container ">
				<div class="fl bConten1">
					<ul>
						<li>家用电器</li>
						<li>手机 / 运营商 / 数码</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
						<li>家用电器</li>
					</ul>
					<div class="popDiv">
						
					
					</div>

				</div>
				<div class="fl bConten2">
					<!--轮播图-->
					<div id="jssor_1">
						<div data-u="slides" class="slides">
							<div data-p="170.00">
								<img data-u="image" src="images/001.jpg" />
							</div>
							<div data-p="170.00">
								<img data-u="image" src="images/002.jpg" />
							</div>
							<div data-p="170.00">
								<img data-u="image" src="images/003.jpg" />
							</div>
							<div data-p="170.00">
								<img data-u="image" src="images/004.jpg" />
							</div>
							<div data-p="170.00">
								<img data-u="image" src="images/005.jpg" />
							</div>
							<div data-p="170.00">
								<img data-u="image" src="images/006.jpg" />
							</div>
						</div>
						<!-- Bullet Navigator -->
						<div data-u="navigator" class="jssorb051 navigator" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
							<div data-u="prototype" class="i" style="width:16px;height:16px;">
								<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
									<circle class="b" cx="8000" cy="8000" r="5800"></circle>
								</svg>
							</div>
						</div>
						<!-- Arrow Navigator -->
						<div data-u="arrowleft" class="jssora051 arrowleft" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
							<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
								<polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
							</svg>
						</div>
						<div data-u="arrowright" class="jssora051 arrowright" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
							<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
								<polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
							</svg>
						</div>
					</div>
				</div>
				<div class="fl bConten3">
					<ul>
						<li><img src="images/bConten3-01.jpg" /></li>
						<li><img src="images/bConten3-02.jpg" /></li>
						<li><img src="images/bConten3-03.jpg" /></li>
					</ul>
				</div>
				<div class="fl bConten4">
					<div class="userIcon">
						<div class="boxF">
							<div class="boxS">
								<div class="boxT" style="background-image: url(images/no_login.jpg);">
									<div class="overlay">
										<a href="#">+</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="user-login">
						<span>
							欢迎来到召唤师峡谷！
						</span>
						<a href="javascript:void(0)">登录</a>
						<a href="javascript:void(0)">注册</a>
					</div>
					<div class="user-vip">
						<a href="javascript:void(0)">新人福利</a>
						<a href="javascript:void(0)">Plus会员</a>
					</div>
					<div class="pubNotice">
						<div class="pubHead">
							<a href="#" class="pubNotice-01">促销</a>
							<a href="#" class="pubNotice-02">公告</a>
							<div class="pubNotice-line"></div>
							<a href="#">更多</a>
						</div>
						<div class="pubBody">
							<div>
								<ul>
									<li>
										<a href="#">图书勋章日满300减150</a>
									</li>
									<li>
										<a href="#">京东健康超级品类日低至5折</a>
									</li>
									<li>
										<a href="#">婚宴用酒满188减100</a>
									</li>
									<li>
										<a href="#">每日享折扣 京东品质游</a>
									</li>
								</ul>
							</div>
							<div>
								<ul>
									<li>
										<a href="#">京东启用全新客服电话“950618”</a>
									</li>
									<li>
										<a href="#">大家电订单超期自动取消公告</a>
									</li>
									<li>
										<a href="#">关于召回普利司通（天津）轮胎有限公司2个规格乘用车轮胎的公告</a>
									</li>
									<li>
										<a href="#">京东物流推出配送员统一外呼电话</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="service-List">
						<ul class="clearfix">
							<li><a href="#"><i class="iconfont">&#xe644;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe645;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe646;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe64f;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe652;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe655;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe658;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe65a;</i></a></li>
							<li>	<a href="#"><i class="iconfont">&#xe65b;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe67e;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe688;</i></a></li>
							<li><a href="#"><i class="iconfont">&#xe699;</i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>